APP_DEBUG = false[APP]DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]TYPE = mysqlHOSTNAME = 127.0.0.1DATABASE = tp6_liveUSERNAME = xxxPASSWORD = xxxHOSTPORT = 3306CHARSET = utf8DEBUG = true[LANG]default_lang = zh-cn[REDIS]HOST = 127.0.0.1PORT = 6379AUTH = xxxLIVE_GAME_KEY = live_game_connect_fd[LIVE]HOST = http://ip:port